.postSlide {
  display: flex;
  position: relative;
  transition: all .2s linear;
  &.active {
    cursor: pointer;
  }
}

.postSlide:hover {
  filter: opacity(70%);
}

.postImage {
  width: 100%;
  height: auto;
}

.postText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
}

.topic {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f48840;
}

.postText a {
  text-decoration: none;
  color: #fff;
}

.title {
  font-size: 20px;
  min-height: 48px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 10px 0 12px 0;
  @media screen and (min-width: 1250px) {
    font-size: 24px;
  }
}
