.postCard {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 30px;
  transition: all .3s linear;
  border: 1px solid #eee;
  // &:hover {
  //   border-color: #f48840;
  // }
  &:hover > .postImage {
    filter: opacity(70%);
  }
}
.postImage {
  width: 100%;
  transition: all .3s linear;
}

.postImage img {
  display: flex;
  width: 100%;
  height: auto;
}

.postInfo {
  padding: 40px;
}

.postText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #aaa;
}

.topic {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f48840;
}

.postText a {
  text-decoration: none;
}

.title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  margin: 10px 0 12px 0;
  color: #20232e;
  min-height: 48px;
}

.postDetails {
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
}

.postDescription {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  // color: #7a7a7a;
  line-height: 30px;
  margin: 25px 0;
  padding: 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  text-align: justify;
  & div.shortened {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    @media screen and (min-width: 1920px) {
      max-width: 500px;
    }
  }
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.readMoreLink {
  display: inline-flex;
  align-self: flex-end;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #f48840;
  text-decoration: none;
  transition: all .3s linear;
  border-radius: 10px;
  padding: 5px 10px;
  &:hover {
    background-color: #f48840;
    color: #fff;
  }
}

.postTags div {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  a {
    text-decoration: none;
    color: #aaa;
    transition: all .2s linear;
    &:hover {
      color: #f48840;
    }
  }
}

.postTags img {
  margin-right: 10px;
}
