.postDetails {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  a {
    color: inherit;
    text-decoration: none;
    transition: all .3s linear;
    &:hover {
      color: #f48840;
    }
  }
}

.author::after {
  margin-left: 8px;
  content: "|";
}

.date::after {
  margin-left: 8px;
  content: "|";
}
